BasedOnStyle: LLVM
IndentWidth: 3
TabWidth: 3
UseTab: Never
ContinuationIndentWidth: 3
ColumnLimit: 100
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
PointerAlignment: Right
SortIncludes: false
